<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username">
    <div *ngIf="loginForm.get('username')?.errors?.['usernameDoesNotExist']">
      Username does not exists.
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  </div>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
